.navmain {
    background-color: #2196f3;
}
.cont {
    margin: 0px;
    padding: 0px;
}
. {
    height: 400px;
    width: 500px;
}

@media (min-width: 788px) {
    .toberight {
        margin-left: 1020px;
    }
}