.navbar {
    background-color: #2196f3;
}
@media (min-width: 788px) {
    .toberight {
        margin-left: 1130px;
    }
    .dropdown-menu {
        margin-left: 1000px;
    }
}

.text{
    margin-left: 3px;
}
